<%= render 'layouts/header' %>
<div class="landing">
    <%= render 'layouts/landing' %>
</div>
<div class="about">
    <%= render 'layouts/about' %>
</div>
<div class="media_">
    <%= render 'layouts/media', :screenshots => @screenshots, :gifs => @gifs %>
</div>