@import "bootstrap-sprockets";
@import "bootstrap";

@font-face{font-family:'Destroy';src:url('fonts/DESTROY_.TTF');}

/* universal */
html {
  overflow-y: scroll;
}

body {
  font-family: 'Destroy', sans-serif;
  padding-top: 10px;
}

section {
  overflow: auto;
}

a {
  color: gray;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 700;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* custom classes */

.header {
  text-align: center;
  background: black;
  border-bottom: 1px solid darkred;
}

.game-title-inner {
  color: red;
  font-size: 5em;
  text-align: center;
}

.content {
  color: #919499;
  padding: 2em 0 2em 0;
  font-size: 1.1em;
  text-align: center;
}

.wrapper {
  width: 50%;
  margin: 0px auto;
}

.landing {
  background: #222;
  width: 100%;
  float: left;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  h2 {
    color: white;
  }
}

.about {
  background: #0F1F3D;
  width: 100%;
  float: left;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}