@import "bootstrap-sprockets";
@import "bootstrap";

@font-face{font-family:'Destroy';src:url('fonts/DESTROY_.TTF');}

/* universal */
html {
  overflow-y: scroll;
}

body {
  font-family: 'Destroy', sans-serif;
}

section {
  overflow: auto;
}

a {
  color: gray;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 700;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* custom classes */

.theater {
  text-align: center;
  background: black;
}

.game-title-inner {
  color: red;
  font-size: 5em;
  text-align: center;
}

.content {
  color: #919499;
  padding: 2em 0 2em 0;
  font-size: 1.1em;
  text-align: center;
}

.wrapper {
  width: 65%;
  margin: 0px auto;
}

.landing {
  background: #222;
  width: 100%;
  float: left;
  border-top: 1px solid white;
  h2 {
    color: white;
  }
}

.about {
  background: #0F1F3D;
  width: 100%;
  float: left;
  border-top: 1px solid white;
}

.media_ {
  background: #0F1F3D;
  width: 100%;
  float: left;
  border-top: 1px solid white;
}

.column {
  float: left;
  width: 280px;
  display: inline;
  text-align: center;
  margin-right: 60px;
}

.image
{
	display: inline-block;
	border-radius: 8px;
  box-shadow: 0px 0px 16px #040d11;
  img {
    display: block;
    width: 100%;
  }
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}
	
