<div class="center">
  <div class="game-title-outer">
    <h1 class="game-title-inner">DEMONS<br/><span style="font-size: 0.6em">WITH</span><br/>SHOTGUNS</h1>
    <%= image_tag "gif1.gif", style: "width: 75%" %>
  </div>
</div>
