<div class="row">
  <div class="col-lg-11 col-centered landing-body">
    <div class="content col-centered">
      <h2>A battle for souls</h2>
        <p>
          Up to four players will fight against each other in multiple game modes,
          including free-for-all and team based modes.
        </p>
        <p>
          Armed with a power double barrel shotgun, blast your way through your
          opponents, unleasing their souls for you to collect!
        </p>
        
        <h2>Coming to Steam Greenlight January 2015</h2>
        <p>
          <%= link_to image_tag("demoButton2.png", alt: "Play the web demo!"), '#' %>
        </p>
        <p>
          <a href="http://www.indiedb.com/games/demons-with-shotguns" 
            title="View Demons with Shotguns on Indie DB" target="_blank">
            <img src="http://button.indiedb.com/popularity/medium/games/34672.png" alt="Demons with Shotguns" />
          </a>
        </p>
      </div>
  </div>
</div>