<div class="row">
  <nav class="navbar navbar-inverse">
    <ul class="nav nav-justified">
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Features", '#' %></li>
      <li><%= link_to "Media", '#' %></li>
    </ul>
  </nav>
</div>
